.Dashboard {
    font-size: 16pt;
    font-weight: 600;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 1.5rem;    
}

.Header{
    margin-bottom: 0.5rem;
}

.Content{
    padding: 0, 2rem, 0, 2rem;
}

.HeaderCard{
    max-height: 160px;
    margin-bottom: 10px;
}

.RowSeparator{
    margin-bottom: 10px;
}

.TempWidget{
    position: absolute;
    top: 10px;
    right: 35px 
}